{% extends "bootstrap/base.html" %}
{% block title %}
Dashboard
{% endblock %}
{% block styles %}
{{super()}}
<style>
body {
  padding-top: 50px;
  background-image:url('static/img/bk35.jpg');
  background-size: cover;
}
.starter-template {
  position: relative;
  height: auto;
}

</style>

{% endblock %}
{% block scripts %}
<script>

</script>
{{super()}}
{% endblock %}
{% block content %}
<nav class="navbar navbar-fixed-top" style="background-color: #1c3448">
    <div class="container">
	    <div class="col-md-offset-1 navbar-header" >
            <!--a class="brand-logo"><img src="static/img/download.png" width="82" height="50"></a-->
            <a class="navbar-brand" href="#" style="color: white;"><b>IDEA Project</b></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar" >
            <ul class="nav navbar-nav navbar-right">
                <li><a href="" style="color: white;">Profile</a></li>
                <li><a href="{{ url_for('logout') }}" style="color: white;">Log Out</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input class="form-control" placeholder="Search..." type="text">
            </form>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div  style="height:100%">

    <!-- Sidebar -->
    <nav id="sidebar" style="background-color: #000080; width:6%" class="col-sm-1" >
        <br>
         <a href="{{ url_for('dashboard') }}" ><img src="static/img/home.PNG" style="border-radius: 50%;" title="Home"  alt="Home" width="35" height="35"></a>
        <br><br>
        <a href="{{ url_for('Index') }}"><img src="static/img/dbcon.PNG" style="border-radius: 50%;" title="Create Database Connection"  alt="Create Database Connection" width="35" height="35"></a>
         <br><br>
        <a href="{{ url_for('testcasegroup') }}"><img src="static/img/tcg.PNG" style="border-radius: 50%;" title="Create Test Case Group" alt="Create Test Case Group" width="35" height="35"></a>
         <br><br>
        <a href="{{ url_for('comparision') }}"><img src="static/img/tc.PNG"  style="border-radius: 50%;" title="Create Test Case" alt="Create Test Case" width="35" height="35"></a>
         <br><br>
        <a href="{{ url_for('results') }}"><img src="static/img/report.PNG" style="border-radius: 50%;" title="Execute and View Report" alt="Execute and View Report" width="35" height="35"></a>
         <br><br>
        <a href="{{ url_for('graphics') }}"><img src="static/img/graph.PNG" style="border-radius: 50%;" title="Graphical Report" alt="Graphical Report" width="35" height="35"></a>
         <br><br><br><br><br><br>
        <a href=""><img src="static/img/dbcon.PNG" style="border-radius: 50%;" title="Help"  alt="Help" width="35" height="35"></a>
            <br><br>
        <br><br>

    </nav>
</div>
<div  style="background-color:	#d3d3d3;"><b>Home->Test Case</b></div>
<br>



        <form action = "/testcasegroup" method = "post">

   <fieldset class="col-md-offset-1 col-sm-10" style="border: solid 2px #5D8AA8 !important;padding: 0px 10px 10px 10px;;  border-bottom: none;">
                <legend style="width: auto !important; border: none;  font-size: 10px; font-weight: bold;">Testcase Details</legend>
                <table style="font-size: 10px;">
                    <tr>
                        <td><label>Testcase Group Name:  </label></td>
                        <td><input type="Text" style="width: 800px;" name="testcase_group" style="width:800px">
                        </tr>
                        <tr>
                          <td><label>Description: </label></td>
                          <td><input type="Text" name="test_case_description" style="width: 800px;"></td>
                          </tr>

                         <tr>
                            <td><label>Select Validation Type:  </label></td>
                         <td>

                           <input type="checkbox" name="testcases" value="rowcount">Record Count
                           <input type="checkbox" name="testcases" value="columncount">Column Count
                           <input type="checkbox" name="testcases" value="nullcount">Null Count
                           <input type="checkbox" name="testcases" value="aggregation">Aggregation
                             </td>
                         </tr>
                         <tr>
                            <td><label>Select Type/s of Report:  </label></td>
                         <td>

                            <input type="checkbox" name="testcases" value="dataframe_summary_1">Data Summary
                              <input type="checkbox" name="testcases" value="ColumnSummary">Column Summary
                            <input type="checkbox" name="testcases" value="row_summary_1">Row Summary
                            <input type="checkbox" name="testcases" value="column_matching_1">Column Matching
                            <input type="checkbox" name="testcases" value="column_unequal_values_1">Column Unequal Values
                            <input type="checkbox" name="testcases" value="row_unequal_values_1">Row Unequal Values
                            <input type="checkbox" name="testcases" value="sample_df1_unique_rows_1">Source Table Unique Rows
                            <input type="checkbox" name="testcases" value="sample_df2_unique_rows_1">Target Unique Rows




                             </td>
                         </tr>
                </table>

                <input type="submit" value="Submit">
            </fieldset>
    </form>


{% endblock %}



